* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  width: 100%;
}

/* Home Section //////////////////////////////////////////////////////////////////////////////////////// */

header,
.main-section {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding: 20px;
}

.app-logo {
  max-width: 250px;
}

header > .header {
  /* padding: 20px 0; */
  flex: 1;
  /* border: 1px solid red; */
}

.header-title {
  font-size: 40px;
  font-weight: 900;
  color: white;
  padding: 7px;
  background-color: rgb(26, 166, 243);
  margin-bottom: 10px;
}

.header-nav-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-nav-links > span {
  display: inline-block;
  flex: 1;
  font-size: 18px;
  background-color: rgb(26, 166, 243);
  color: white;
  padding: 7px;
  text-decoration: underline;
  cursor: pointer;
}

/* Main Section*/

.main-section {
  margin-top: 20px;
  gap: 20px;
}

.main-image-wrapper {
  flex: 0.8;
  position: relative;
}

.main-header {
  color: rgb(26, 166, 243);
  font-size: 30px;
  text-wrap: nowrap;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.atom-image {
  max-width: 120px;
  position: absolute;
  top: 50px;
  right: 0;
}

.qr-code {
  max-width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.main-sidebar {
  flex: 0.2;
  display: flex;
  min-height: 524px;
  flex-direction: column;
  gap: 20px;
}

.login-sec {
  flex: 1;
  padding: 30px 20px;
  background-color: rgb(26, 166, 243);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.login-sec > div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-sec > div > label {
  font-size: 18px;
}

.login-sec > div > input {
  border: none;
  outline: none;
  margin-top: 10px;
  font-size: 18px;
  padding: 7px 10px;
  background: transparent;
  border-bottom: 2px solid white;
  color: white;
}

/* Company Prodfile */

.company-profile-wrapper {
  position: relative;
  background: url(Assets/white-tesla-image.webp);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.company-profile-wrapper > img {
  width: 100%;
}

.company-profile-content {
  display: flex;
  gap: 30px;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 30px;
}
.company-profile-main {
  text-align: center;
}

.company-profile-main > h1 {
  color: rgb(26, 166, 243);
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 50px;
}

.company-profile-main > p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  font-weight: 900;
}

.company-profile-sidebar {
  padding: 20px;
  text-align: center;
  color: darkblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  max-width: 280px;
  flex: 1 0 100%;
}

.company-profile-sidebar > p {
  font-size: 1.2rem;
}

/* Catalogue Section */

.catelogue-pera-container {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.catelogue-pera-container > h2 {
  font-size: 1.7rem;
  background-color: white;
  color: rgb(26, 166, 243);
}

.powerbank-chanrgers-wrapper {
  min-height: 100vh;
  background: url(Assets/black-tesla-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poerbank-chargers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  text-align: center;
}

.powerback-chargers-header {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.powerback-chargers-header > h1 {
  text-wrap: nowrap;
  background-color: white;
  color: rgb(26, 166, 243);
  padding: 5px;
}

.poerbank-images {
  display: grid;
  max-width: 1000px;
  margin-inline: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.powerimage > img {
  object-fit: contain;
}

.powerimage:nth-child(2) {
  grid-column-start: 3;
}

.powerimage:nth-child(3) {
  grid-column-start: 2;
}

.powerimage:nth-child(4) {
  grid-column-start: 1;
}

.powerimage:nth-child(5) {
  grid-column-start: 3;
}

.parkinglot-payment-wrapper {
  border-top: 2px solid white;
  min-height: 100vh;
  background: url(Assets/black-tesla-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding: 50px 20px;
  border-bottom: 2px solid white;
}

.parkinglot-payment-header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin-inline: auto;
  gap: 20px;
}

.parkinglot-payment-header > h2 {
  background-color: white;
  color: rgb(26, 166, 243);
  font-size: 2.2rem;
}

.parkinglot-payment-wrapper {
  position: relative;
}

.parkinglot-payment-wrapper > .images {
  max-width: 1200px;
  margin-inline: auto;
}

.parkinglot-payment-wrapper img {
  object-fit: contain;
}

.parkinglot-payment-wrapper .images {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.parkinglot-payment-wrapper .images > * {
  flex: 1;
}

.parkinglot-payment-wrapper .images img {
  width: 100%;
  object-fit: contain;
}

.parkinglot-payment-wrapper .images > div {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.parkinglot-payment-footer {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.power-station-wrapper {
  min-height: 100vh;
  padding: 50px 20px;
  background: url(Assets/black-tesla-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
}

.power-station-header {
  padding: 20px 0;
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 30px;
}

.power-station-header > h2 {
  font-size: 2rem;
  color: rgb(26, 166, 243);
  background-color: white;
  max-width: 800px;
}

.power-station-main {
  padding: 20px 0;
  max-width: 1200px;
  margin-inline: auto;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.power-station-footer {
  max-width: 1200px;
  padding: 20px;
  display: flex;
  justify-content: end;
}

.household-section {
  min-height: 100vh;
  background-color: black;
  background: url(Assets/black-tesla-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 20px;
}

.household-header {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  gap: 20px;
}

.household-header > h2 {
  font-size: 2rem;
  background-color: white;
  color: rgb(26, 166, 243);
  padding: 20px;
}

.household-main {
  display: flex;
  max-width: 1200px;
  margin-block: 20px;
  gap: 20px;
  margin-inline: auto;
}

.household-main img {
  width: 100%;
  object-fit: contain;
}

.household-main > * {
  flex: 1;
}

.household-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.household-footer {
  display: flex;
  justify-content: end;
  max-width: 1200px;
  margin-inline: auto;
}

/* Register Sign In Section*/

.register-sign-wrapper {
  position: absolute;
  width: 100%;
  inset: 0;
  padding: 80px 20px 20px 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 1.2rem;
}

.register-sign-wrapper input {
  background: transparent;
  border: none;
  font-size: 1rem;
  outline: none;
  padding: 10px 20px;
  border-bottom: 2px solid black;
}

.register-sign-wrapper .row {
  display: flex;
  gap: 30px;
}

.register-sign-wrapper .row > div,
.register-sign-wrapper > .col {
  display: flex;
  flex-direction: column;
}

.register-sign-wrapper .row > * {
  flex: 1;
}

/* Contact Us Section */

.contact-us-wrapper {
  position: absolute;
  inset: 0;
  padding: 80px 20px;
}

.contact-us-wrapper::before {
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgb(187 228 251);
  z-index: -1;
}

.EVCS {
  max-width: 100px;
}

.contact-us-main {
  text-align: center;
}

.timing-section {
  padding: 20px 60px;
  background-color: white;
  width: fit-content;
  margin-inline: auto;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 800;
  margin-block: 10px;
}

.address {
  color: rgb(26, 166, 243);
}

.clr-black {
  background-color: transparent !important;
  color: black !important;
}

.mobile-header {
  display: none;
}

.mobile-header-title{
  font-size: 2rem;
  color: white;
  background-color: rgb(26, 166, 243);
}

.mobile-header > button {
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .header-nav-links,
  .header-title {
    display: none;
  }
  .mobile-header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  .main-section{
    flex-direction: column;
  }
  .mobile-none{
    display: none;
  }
}

@media (max-width:500px){
  .atom-image,
  .qr-code{
    display: none;
  }

  .main-header{
    width: 100%;
    text-wrap: wrap;
    text-align: center;
  }
}
